.vs
.vs/*
.vscode/
.vscode/*
Properties/
Properties/*

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# bin
bin/*

# misc
TestConsole/
TestConsole/*
Release/
Release/*
Preview/*
Preview/
Debug/**
*/x64/**
x64/**
!Core/Release
Core/DawnCache
Core/Debug
Core/GPUCache
Core/debug.log

# Package
packages/
packages/*
Core/packages/
Core/packages/*

# lab
InteropTesting.cs
/changelogtracking.md
/testcases.md
/BuildDebug.ps1
/Tools/Helpers/changelogtracking.md