.vs
.vs/*
.vscode/
.vscode/*

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Release
Release/*

# bin
bin/*

# misc
TestConsole/
TestConsole/*
Release/
Release/*
Debug/**
*/x64/**
x64/**

# lab
InteropTesting.cs
/changelogtracking.md
/testcases.md
/BuildDebug.ps1
/Tools/Helpers/changelogtracking.md
