.vs
.vs/*
.vscode/
.vscode/*

.git
.git/**

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# bin
bin/*

# misc
TestConsole/
TestConsole/*
Release/
Release/**
Preview
Preview/**
src/Debug/**
*/x64/**
src/x64/**
src/obj
src/obj/**
src/bin
src/bin/**
x64/
src/WindowsUtils.csproj.user

# wu core
src/WuCore/.vs
src/WuCore/.vs/**
src/WuCore/obj
src/WuCore/obj/**
src/WuCore/DawnCache
src/WuCore/Debug
src/WuCore/GPUCache
src/WuCore/debug.log
src/WuCore/Release
src/WuCore/Release/**
src/WuCore/WuCore
src/WuCore/WuCore/**
src/WuCore/x64
src/WuCore/x64/**
src/WuCore/WuCore.vcxproj.filters
src/WuCore/WuCore.vcxproj.user

# pester helper
src/WuPesterHelper/.vs
src/WuPesterHelper/.vs/**
src/WuPesterHelper/bin
src/WuPesterHelper/bin/**
src/WuPesterHelper/obj
src/WuPesterHelper/obj/**
src/WuPesterHelper/Properties
src/WuPesterHelper/Properties/**
src/WuPesterHelper/WuPesterHelper.csproj.user

# Package
packages/
packages/*
Core/packages/
Core/packages/*

# lab
InteropTesting.cs
/changelogtracking.md
/testcases.md
/BuildDebug.ps1
/Tools/Helpers/changelogtracking.md
